@import 'tailwindcss';


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: #18181b;
}

.swiper-pagination {
  margin-top: 24px;
  position: relative !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #d4d4d8;
}

.swiper-pagination-bullet-active {
  background: #18181b;
}

.swiper-button-prev,
.swiper-button-next {
  color: #18181b !important;
}